@model New.Models.Grif

@{
    ViewBag.Title = "Edit";
}

@*<h2>Промяна</h2>*@
<style>
    fieldset.scheduler-border{
        
    border: 1px  dotted #808080 !important;
    width:80%;
    border-radius:0px 25px;
    margin:15px;
    
    }
    legend.scheduler-border{
        width:auto;
        padding: 5px !important;
        border:none;
        margin-bottom:0px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Коригирай грифа</legend>
        <div class="form-horizontal">
            @*<h4>Гриф за сигурност</h4>*@
            @*<hr />*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.GrifId)

            <div class="form-group">
                @Html.LabelFor(model => model.GrifNameId, "Ниво на класификация", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("GrifNameId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GrifNameId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LawId, "Правно основание", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("LawId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LawId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateCreated,  new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateExpired, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateExpired, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateExpired, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.KIId, "Рег. номер", htmlAttributes: new { @class = "control-label col-md-2" })*@

                <div class="col-md-10">
                    @Html.HiddenFor(model => model.KIId, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.DropDownList("KIId", null, htmlAttributes: new { @class = "form-control" })*@
                    @*@Html.ValidationMessageFor(model => model.KIId, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Запази" class="btn btn-info" />
                </div>
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Обратно", "Details",  "KIs", new { id = Model.KIId}, new { Controller = "KIs" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
