@model IEnumerable<New.Models.GrifName>

@{
    ViewBag.Title = "Index";
}


<style>
     .color{color:white;}

    table.table{
        width:50%;
        /*margin:10px;*/
         border-collapse:separate;
        border-radius:25px;
        overflow:hidden;
        
    }

    div.btn{
        padding: 5px 10px;
        color:white;
        font-size:18px;
        margin-bottom:3%;
        float:right;
        margin-right:51%;
        display:inline-block;
        margin-top:3%;
        clear:both;
        
    }
    div.inline{
        /*clear:left;*/
        display:inline-block;
        font-size:20px;
        font-style:italic;
        margin-top:3% ;
        margin-bottom:3%;
        margin-left:5px;
        
    }
    .glyphicon{
        font-size:20px;
    }

    a{
        padding:5px;
    }
</style>

<div class="inline">Нива на класификация</div>

<div class="btn btn-info">
    @Html.ActionLink("Създай нов", "Create", "GrifNames", htmlAttributes: new { @class="color"})
</div>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a href=" @Url.Action("Edit","GrifNames", new { id=item.GrifNameId })" /><i class=" glyphicon glyphicon-pencil"></i>
            <a href=" @Url.Action("Delete","GrifNames", new { id=item.GrifNameId })" /><i class=" glyphicon glyphicon-remove-circle"></i>

            @*@Html.ActionLink("Промени", "Edit", new { id=item.GrifNameId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GrifNameId }) |
            @Html.ActionLink("Изтрий", "Delete", new { id=item.GrifNameId })*@
        </td>
    </tr>
}

</table>
